root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.lua]
space_before_attribute = true
keep_one_space_between_table_and_bracket = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
continuation_indent = 0
max_line_length = 120
align_if_branch = true
align_call_args = true
align_function_params = true
align_continuous_assign_statement = true
align_continuous_rect_table_field = true
align_array_table = true
space_around_table_field_list = true
space_around_table_append_operator = true
space_around_math_operator = true
never_indent_before_if_condition = true
never_indent_comment_on_if_branch = true
remove_call_expression_list_finish_comma = true
end_statement_with_semicolon = "replace_with_newline"
