## Source :: https://gitignore.io | https://www.toptal.com/developers/gitignore/
## Create :: https://www.toptal.com/developers/gitignore/api/windows,git,powershell,visualstudiocode,zsh
## Edit   :: https://www.toptal.com/developers/gitignore?templates=windows,git,powershell,visualstudiocode,zsh

#############
#### Git ####
#############

# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt


##########################
#### VisualStudioCode ####
##########################

# Core workspace files
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local history of files
.history/
.ionide

# Built extensions
*.vsix

# Logs
logs
*.log


#################
#### Windows ####
#################

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

#############
#### MPV ####
#############

!scripts/display-info.dll
!scripts/debug.dll
screenshots
cache
playlists
inactive
settings.xml
*.m3u
*.mp4
*.mpv
*.jpeg
*.jpg

# End of https://www.toptal.com/developers/gitignore/api/windows,git,powershell,visualstudiocode,zsh
